@using LibraryManager.Models.Enums
@model LibraryManager.Models.ViewModels.BookThemeFormViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastro de Livro</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Book.BookName" class="control-label"></label>
                <input asp-for="Book.BookName" class="form-control" />
                <span asp-validation-for="Book.BookName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Author" class="control-label"></label>
                <input asp-for="Book.Author" class="form-control" />
                <span asp-validation-for="Book.Author" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.BookThemeId" class="control-label"></label>
                <select asp-for="Book.BookThemeId" class="form-control" asp-items="@(new SelectList(Model.BookThemes, "Id", "Theme"))"></select>
            </div>
            <div class="form-group">
                <label asp-for="Book.Status" class="control-label"></label>
                @Html.DropDownList("Status", Html.GetEnumSelectList<BookStatus>(), new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label asp-for="Book.IndAtivo" class="control-label"></label>
                <select asp-for="Book.IndAtivo" class="form-control">
                    <option value="1" selected>Sim</option>
                    <option value="0">Não</option>
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
